



div { height: 55px;
    weight:55px;
    margin: 8px auto;
    }

section { background-color: white;
width:77px;
padding-top: 25px;
border:10px dotted pink;
margin:20px; }

body { background-color: rgb(18, 222, 215) }




.circle { background-color: blanchedalmond;}